* {
	font-family: 'Share Tech Mono', monospace;
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	/* width: 1300px; */
	width: 1725px;
	left: 50%;
	margin-left: -850px;
	zoom: 0.75;
	padding-top: 50pt;
}

.hBashttpd {
    color: #222;
    font-size: 62pt !important;
    line-height: 61pt;
    position: relative;
    margin-left: -4pt;
}

.hBWF {
    color: #222;
    font-size: 179pt !important;
    line-height: 133pt;
    margin-left: -17px;
    position: relative;
}

.hForms {
    color: #222;
    font-size: 104pt !important;
    position: relative;
	margin-left: -13px;
	line-height: 108px;
}

.hGallery {
    color: #222;
    font-size: 71pt !important;
    line-height: 70pt;
    position: relative;
    margin-left: -4pt;
}

.hImageID {
    color: #222;
    font-size: 41pt !important;
    line-height: 41pt;
    position: relative;
    margin-left: -4pt;
}

.hAND {
	font-family: Vidaloka;
	font-size: 72pt;
	height: 0;
	text-align: center;
	position: relative;
	top: -60px;
	color: black;
	z-index: 99;
	text-shadow: -1px 0 0 white,
	1px 0 0 white,
	 0 -1px 0 white,
	 0 1px 0 white,
	 -2px 0 0 white,
	2px 0 0 white,
	 0 -2px 0 white,
	 0 2px 0 white,
	 -3px 0 0 white,
	3px 0 0 white,
	 0 -3px 0 white,
	 0 3px 0 white,
	 -4px 0 0 white,
	4px 0 0 white,
	 0 -4px 0 white,
	 0 4px 0 white
	 ;
}

.hJSON {
    color: #222;
    font-size: 132pt;
    line-height: 105pt;
    position: relative;
    margin-left: -15pt;
}

.hMySQL {
	color: #222;
    font-size: 103pt;
    line-height: 105pt;
    position: relative;
    margin-left: -8pt;
}

input, textarea {
	font-size: 20pt;
    display: block;
    margin-bottom: 20pt;
}

/* All that ridiculous input styling below is to remedy the Crome's ugly autofill styling */
input[type=text]:focus {
	border: 1px #00bbff solid !important;
	outline: none !important;
	background-color: #00BBFF !important;
	box-shadow: 0 0 0px 1000px #00BBFF inset !important;
	color: white !important;
	-webkit-text-fill-color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
input[type=text] {
	border: 1px #555 solid;
	width: 100%;

	box-shadow: 0 0 0px 1000px #fff inset;
	background-color: white;
	-webkit-text-fill-color: #222;
	color: #222;
}

input[type=button],
input[type=submit] {
	float: right;
	padding: 10px 20px;
	background-color: #222;
	color: white;
	border: none;
	cursor: pointer;
}

input[type=button]:focus,
input[type=button]:active,
input[type=button]:hover,
input[type=submit]:focus,
input[type=submit]:active,
input[type=submit]:hover {
	background-color: #00BBFF;
}

label {
	font-size: 20pt;
	display: block;
}

.column {
	width: 350px;
	float: left;
}

p {
	color: #555;
	font-size: 16pt;
}

.col2 {
	margin-left: 75pt;
	padding-top: 145pt;
}

.col3 {
	margin-left: 75pt;
	padding-top: 100pt;
}

.col4 {
	margin-left: 75pt;
	/* padding-top: 85pt; */
}

.hCookies {
    color: #222;
    font-size: 73pt;
    line-height: 61pt;
    position: relative;
    margin-left: -7pt;
}

.hTemplates {
    color: #222;
    font-size: 55pt;
    line-height: 53pt;
    position: relative;
    margin-left: -3pt;
}

#visits-big {
    color: #222;
    font-size: 73pt;
    line-height: 61pt;
    position: relative;
    margin-left: -7pt;
}

#visits-big.w3 {
    font-size: 198pt;
    line-height: 178pt;
    margin-top: 35pt;
    margin-left: -30pt;
}

#visits-big.w4 {
    font-size: 142pt;
    line-height: 141pt;
    margin-top: 35pt;
    margin-left: -22pt;
}

#visits-big.w5 {
    font-size: 110pt;
    line-height: 124pt;
    margin-top: 35pt;
    margin-left: -17pt;
}

.typographyColumn p.wrapped {
	word-break: break-all;
}

.typographyColumn p.hasmargin {
	margin-bottom: 25pt;
}

.typographyColumn p em {
	background-color: #00BBFF;
	font-style: normal;
	color:white;
}

img {
	margin-bottom: 10pt;
}

.theAgePage {
	padding-top: 100pt;
}

.theAgePage p {
	font-size: 32pt;
}

.typographyColumn a {
	color: #00BBFF;
	text-decoration: none;
}

.typographyColumn a:hover {
	background-color: #00BBFF;
	color: white;
	text-decoration: none;
}

.typographyColumn a::after {
	content: " >>"
}

blink {
	color: #777;
}

.noblink blink {
	color: white;
}

#the-gallery {
	width: 1625px;
	margin-left: -812px;
}

#gallery {
	float: left;
	width: 1275px;
}

#gallery img {
	display: inline-block;
	width: 350px;
	margin-left: 75px;
	vertical-align: middle;
}

#the-gallery input[type=file] {
	width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.fileinput label {
	font-size: 20pt;
	display: block;
	margin-bottom: 20pt;
	padding: 10px 20px;
	background-color: #222;
	color: white;
	border: none;
	cursor: pointer;
}

.fileinput label:hover {
	background-color: #00BBFF;
}

.progress {
	height: 20px;
}

.progress > div {
	background: #00BBFF;
	height: 100%;
	width: 0;
}

#ui-stash {
	/* display: none; */
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -9999;
}

#ui-stash > * {
	display: none;
	position: relative;
	z-index: 9999
}

#theater {
	height: 100%;
}

#theater > .stage {
	background-color: rgba(0, 0, 0, 0.5);
	align-content: center;
	text-align: center;
	height: 100%;
}

#theater > .stage > .img {
	display: inline-block;
	line-height: 100%;
	position: relative;
}

#comments textarea {
	width: 100%;
}

#comments input[type=button] {
	display: block;
}

#comments-list > p {
	margin-bottom: 20px;
}

.footer {
	clear: both;
	text-align: center;
	padding-top: 150px;
	font-size: 12pt;
	color: #222;
}

.footer > a {
	color: #00BBFF;
	text-decoration: none;
}

.footer > .pipe {
	border-right: 1px #222 solid;
	margin: 0 30px;
}